.start_title {
    margin-top: 45%;
    margin-bottom: 75%;
    text-align: center;
    font-size: 15px;
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
    .start_title {

        font-size: var(--size-2xl);
    }
}

/* md */
@media (min-width: 768px) {
    .start_title {
        margin-top: 45%;
        margin-bottom: 45%;
        text-align: center;
        font-size: var(--size-3xl);
    }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
 @media (min-width: 1280px) {
     .start_title {
        margin-top: 40%;
        margin-bottom: 40%;
        font-size: var(--size-5xl);
    }
 }

/* 2xl */
@media (min-width: 1536px) {
    .start_title {
        margin-top: 30%;
        margin-bottom: 30%;
        font-size: var(--size-6xl);
    }

}