/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.section_back{

    width: 100%;

}

.btn {
  font-size: var(--size-sm);
  color: black;
  display: inline-block;
  font-weight: 450;
  text-decoration: none;
  letter-spacing: -0.05em;
  padding: 0.5em 1em;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(68.94deg, #C3AAB2 -4.77%, #99EECC 46.72%, #80C0C8 90.23%, #4B8BFA 134.46%);

}

.btn:hover {
  transform: translateY(-3px);


}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: #070a13;

}

.section {
  margin-top: 5rem;
}

.loading {
  filter: blur(40px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: 0.7s ease-in-out;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .btn{
    font-size: var(--size-xl);
    border-radius: 25px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}